@import './sass/helpers/_colortofilter.scss';

@import './sass/x/_body.sass';
@import './sass/x/_form.sass';
@import './sass/x/_grid.sass';
@import './sass/x/_box.sass';
@import './sass/x/_treelist.sass';
@import './sass/x/_legend.sass';
@import './sass/x/_panel.sass';
@import './sass/x/_toolbar.sass';
@import './sass/x/_btn.sass';
@import './sass/x/_column.sass';
@import './sass/x/_tab.sass';
@import './sass/x/_window.sass';
@import './sass/x/_viewport.sass';
@import './sass/x/_menu.sass';
@import './sass/x/_tree.sass';
@import './sass/x/_progress.sass';
@import './sass/x/_tip.sass';
@import './sass/x/_component.sass';
@import './sass/x/_autocontainer.sass';
@import './sass/x/_title.sass';
@import './sass/x/_mask.sass';
@import './sass/x/_misc.sass';
@import './sass/x/_splitter.sass';
@import './sass/x/_boundlist.sass';
@import './sass/x/_datepicker.sass';

@import './sass/proxmox/_pveDc.sass';
@import './sass/proxmox/_proxmoxRRDChart.sass';
@import './sass/proxmox/_pveCeph.sass';

@import './sass/special/_specific.sass';
@import './sass/special/_icons.sass';
@import './sass/special/_proxmox.sass';
@import './sass/special/_borders.sass';
@import './sass/special/_charts.sass';

:root {
    --text: #{$text};
    --background: #{$background};
    --background-accent: #{$background_accent};
    --input-background: #{$input_background};

    --pwt-panel-background: #{var(--background-accent)};
    --pwt-text-color: #{var(--text)};
    --pwt-gauge-default: #{$green};
    --pwt-gauge-back: #{$background};
    --pwt-gauge-warn: #{$yellow};
    --pwt-gauge-crit: #{$red};
    --pwt-chart-primary: #{$accent};
    --pwt-chart-grid-stroke: #{$background};
}

@media (prefers-color-scheme: dark){
    :root {
        --text: #{$dark_text};
        --background: #{$dark_background};
        --background-accent: #{var(--background-accent)};

        --pwt-panel-background: #{$dark_background_accent};
        --pwt-text-color: #{$dark_text};
        --pwt-gauge-default: #{$dark_green};
        --pwt-gauge-back: #{$dark_background};
        --pwt-gauge-warn: #{$dark_yellow};
        --pwt-gauge-crit: #{$dark_red};
        --pwt-chart-primary: #{$dark_accent};
        --pwt-chart-grid-stroke: #{$dark_background};
   }
 }

html {
    overflow: scroll;
    overflow-x: hidden;
}

* {
    font-weight: 350;
}

::-webkit-scrollbar {
    width: 0;
    height: 6px;
    background: var(--input-background);

    &:hover {
        background: var(--background-accent);
    }
}

a {
    color: var(--text);
}
