/*!Nebula Dark*/

$accent: #38BDF8;

$green: #4ADE80;
$yellow: #FACC15;
$red: #FB7185;
$redlight: #FCA5A5;

$background: #0B1120;
$background_accent: #050816;

$text: #E5E7EB;
$button_text: #E5E7EB;

$lightGray: #1F2937;
$input_background: #111827;

@import './sass/_imports.scss';
