/*!Monochrome Dark*/

$background: #121212;
$background_accent: #0e0e0e;

$base: #121212;
$mantle: #0f0f0f;
$crust: #0a0a0a;

$text: #d6d6d6;
$subtext1: #a8a8a8;
$subtext0: #8f8f8f;

$surface2: #2f2f2f;
$surface1: #262626;
$surface0: #1e1e1e;

$overlay2: #6f6f6f;
$overlay1: #5c5c5c;
$overlay0: #4a4a4a;

$accent: #6f6f6f;

$green: #5f5f5f;
$yellow: #6a6a6a;
$red: #7a7a7a;
$redlight: #8a8a8a;

$button_text: #d6d6d6;
$lightGray: #2f2f2f;
$input_background: #141414;

@import './sass/_imports.scss';
