.x-btn
	background: var(--accent)
	border-width: 0
	&.x-unselectable.x-box-item
		&.x-toolbar-item.x-btn-default-toolbar-small
			&.x-btn-over, &.x-btn-menu-active
				background-color: adjust-color($accent, $saturation: -30%)
		&.x-btn-default-small.x-btn-over
			background-color: adjust-color($accent, $saturation: -30%)
	&.x-btn-menu-active.x-btn-default-toolbar-small, &.x-btn.x-btn-pressed.x-btn-default-toolbar-small
		background-color: adjust-color($accent, $saturation: -30%)

.x-btn-over
	&.x-btn-default-toolbar-small
		background-color: adjust-color($accent, $saturation: -30%)

.x-keyboard-mode .x-btn-focus, .x-btn-focus
	&.x-btn-default-toolbar-small
		background-color: var(--accent)

.x-btn-inner
	color: var(----button-text)
	&.x-btn-inner-default-small
		color: var(----button-text)
	&.x-btn-inner-default-toolbar-small
		color: var(----button-text)

.x-btn-disabled
	background-image: none
	background-color: adjust-color($accent, $saturation: -40%) !important

.x-btn-icon-el
	&.x-btn-icon-el-default-toolbar-small
		&.fa
			&.fa-undo, &.fa-terminal, &.fa-send-o, &.fa-fw.fa-ellipsis-v, &.fa-refresh
				color: var(--text)
			&.fa-play
				color: var(--green)
			&.fa-power-off
				color: var(--redlight)
		&.x-btn-icon-el-default-toolbar-small.fa.fa-question-circle
			color: var(--text)
	&.x-btn-icon-el-default-small.fa
		&.fa-book.x-btn-icon-el-default-toolbar-small, &.black.fa-gear
			color: var(--text)

.x-btn-wrap-default-toolbar-small.x-btn-arrow-right:after
	//background-image: url('/pve2/images/dd_default-toolbar-small-arrow.png')

.x-btn-wrap-default-toolbar-small.x-btn-split-right:after
	//background-image: url('/pve2/images/dd_default-toolbar-small-s-arrow.png')

.fa-gear:before, .fa-cog:before
	color: var(----button-text)
