.x-progress
	background: var(--background)

.x-progress-default .x-progress-bar-default
		background-color: var(--green)

.x-progress-text
	color: var(--text) !important
	&.x-progress-text-back
		color: var(--text) !important
